{
  "env": {
    "development": {
      "plugins": [
        "dynamic-import-node",
        "react-hot-loader/babel",
        [
          "babel-plugin-styled-components",
          {
            "ssr": true
          }
        ]
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./", "./src"]
      }
    ],
    "add-module-exports",
    "loadable-components/babel",
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions",
          "node": "current"
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ]
}
